app/code/community/TIG/PostNL/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="postnlListRequest">
        <wsdl:part name="parameters" element="typens:postnlListRequestParam" />
    </wsdl:message>
    <wsdl:message name="postnlListResponse">
        <wsdl:part name="parameters" element="typens:postnlListResponseParam" />
    </wsdl:message>

    <wsdl:message name="postnlCreateShipmentRequest">
        <wsdl:part name="parameters" element="typens:postnlCreateShipmentRequestParam" />
    </wsdl:message>
    <wsdl:message name="postnlCreateShipmentResponse">
        <wsdl:part name="parameters" element="typens:postnlCreateShipmentResponseParam" />
    </wsdl:message>


    <wsdl:portType name="{{var wsdl.handler}}PortType">

        <wsdl:operation name="postnlList">
            <wsdl:documentation>Retrieve customer groups</wsdl:documentation>
            <wsdl:input message="typens:postnlListRequest" />
            <wsdl:output message="typens:postnlListResponse" />
        </wsdl:operation>

        <wsdl:operation name="postnlCreateShipment">
            <wsdl:documentation>Create PostNL Shipment</wsdl:documentation>
            <wsdl:input message="typens:postnlCreateShipmentRequest" />
            <wsdl:output message="typens:postnlCreateShipmentResponse" />
        </wsdl:operation>

    </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

        <wsdl:operation name="postnlList">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="postnlCreateShipment">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

<!-- END BINDINGS -->
    </wsdl:binding>
</wsdl:definitions>