app/code/community/TIG/PostNL/wsdl/ConfirmingWebService_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tpp.Cif.Services.Domain.ConfirmingService" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Tpp.Cif.Services.Domain.ConfirmingService">
  <xs:complexType name="ConfirmingMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer"/>
      <xs:element minOccurs="0" name="Message" nillable="true" type="tns:Message"/>
      <xs:element minOccurs="0" name="Shipments" nillable="true" type="tns:ArrayOfShipment"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfirmingMessage" nillable="true" type="tns:ConfirmingMessage"/>
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address"/>
      <xs:element minOccurs="0" name="CollectionLocation" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ContactPerson" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="CustomerNumber" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer"/>
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressType" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Buildingname" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Countrycode" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Doorcode" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Floor" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="HouseNr" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="HouseNrExt" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="StreetHouseNrExt" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Zipcode" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address"/>
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageID" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="MessageTimeStamp" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message"/>
  <xs:complexType name="ArrayOfShipment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Shipment" nillable="true" type="tns:Shipment"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShipment" nillable="true" type="tns:ArrayOfShipment"/>
  <xs:complexType name="Shipment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Addresses" nillable="true" type="tns:ArrayOfAddress"/>
      <xs:element minOccurs="0" name="Amounts" nillable="true" type="tns:ArrayOfAmount"/>
      <xs:element minOccurs="0" name="Barcode" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="CollectionTimeStampEnd" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="CollectionTimeStampStart" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Contacts" nillable="true" type="tns:ArrayOfContact"/>
      <xs:element minOccurs="0" name="Customs" nillable="true" type="tns:Customs"/>
      <xs:element minOccurs="0" name="Dimension" nillable="true" type="tns:Dimension"/>
      <xs:element minOccurs="0" name="DownPartnerBarcode" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="DownPartnerID" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Groups" nillable="true" type="tns:ArrayOfGroup"/>
      <xs:element minOccurs="0" name="ProductCodeCollect" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ProductCodeDelivery" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ReferenceCollect" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Shipment" nillable="true" type="tns:Shipment"/>
  <xs:complexType name="ArrayOfAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="tns:Address"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddress" nillable="true" type="tns:ArrayOfAddress"/>
  <xs:complexType name="ArrayOfAmount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Amount" nillable="true" type="tns:Amount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAmount" nillable="true" type="tns:ArrayOfAmount"/>
  <xs:complexType name="Amount">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="AccountNr" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="AmountType" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="TransactionNumber" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Amount" nillable="true" type="tns:Amount"/>
  <xs:complexType name="ArrayOfContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="tns:Contact"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContact" nillable="true" type="tns:ArrayOfContact"/>
  <xs:complexType name="Contact">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactType" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="SMSNr" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="TelNr" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contact" nillable="true" type="tns:Contact"/>
  <xs:complexType name="Customs">
    <xs:sequence>
      <xs:element minOccurs="0" name="Certificate" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="CertificateNr" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfContent"/>
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="HandleAsNonDeliverable" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Invoice" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="InvoiceNr" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="License" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="LicenseNr" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ShipmentType" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customs" nillable="true" type="tns:Customs"/>
  <xs:complexType name="ArrayOfContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Content" nillable="true" type="tns:Content"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContent" nillable="true" type="tns:ArrayOfContent"/>
  <xs:complexType name="Content">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryOfOrigin" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="HSTariffNr" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Content" nillable="true" type="tns:Content"/>
  <xs:complexType name="Dimension">
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Length" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Volume" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Width" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dimension" nillable="true" type="tns:Dimension"/>
  <xs:complexType name="ArrayOfGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Group" nillable="true" type="tns:Group"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroup" nillable="true" type="tns:ArrayOfGroup"/>
  <xs:complexType name="Group">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupCount" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="GroupSequence" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="GroupType" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="MainBarcode" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Group" nillable="true" type="tns:Group"/>
  <xs:complexType name="ArrayOfConfirmingResponseShipment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConfirmingResponseShipment" nillable="true" type="tns:ConfirmingResponseShipment"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConfirmingResponseShipment" nillable="true" type="tns:ArrayOfConfirmingResponseShipment"/>
  <xs:complexType name="ConfirmingResponseShipment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Barcode" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfirmingResponseShipment" nillable="true" type="tns:ConfirmingResponseShipment"/>
</xs:schema>